<%- include('./partials/head') %>

<body class="bg-image-ficha">

    <form method="POST" action="/criar">

<%- include('./partials/ficha/caracteristicas/informacoes') %>
<%- include('./partials/ficha/caracteristicas/atributos') %>
<%- include('./partials/ficha/caracteristicas/caracteristicas') %>
<%- include('./partials/ficha/caracteristicas/estados') %>

<%- include('./partials/ficha/tab-habilidades') %>

<%- include('./partials/ficha/combate/armas') %>
<%- include('./partials/ficha/combate/combate-valores') %>

<%- include('./partials/ficha/historia/historia') %>
<%- include('./partials/ficha/historia/descricao') %>
<%- include('./partials/ficha/historia/tracos') %>
<%- include('./partials/ficha/historia/crencas') %>
<%- include('./partials/ficha/historia/feridas') %>
<%- include('./partials/ficha/historia/pessoas') %>
<%- include('./partials/ficha/historia/fobias') %>
<%- include('./partials/ficha/historia/locais') %>
<%- include('./partials/ficha/historia/feiticos') %>
<%- include('./partials/ficha/historia/pertences') %>
<%- include('./partials/ficha/historia/encontros') %>
<%- include('./partials/ficha/historia/inventario') %>

<%- include('./partials/ficha/economia') %>

<%- include('./partials/ficha/notas') %>

</form>

<%- include('./partials/footer') %>