<%- include('./partials/head') %>

<body class="bg-image-ficha">

    <form method="POST" action="<%= formAction %>">

<%- include('./partials/ficha/caracteristicas/informacoes', {informacoes: sheet?.informacoes}) %>
<%- include('./partials/ficha/caracteristicas/atributos', {caracteristicas: sheet?.caracteristicas}) %>
<%- include('./partials/ficha/caracteristicas/caracteristicas', {caracteristicas: sheet?.caracteristicas}) %>
<%- include('./partials/ficha/caracteristicas/estados', {caracteristicas: sheet?.caracteristicas}) %>

<%- include('./partials/ficha/tab-habilidades', sheet) %>

<%- include('./partials/ficha/combate/armas', sheet) %>
<%- include('./partials/ficha/combate/combate-valores', sheet) %>

<%- include('./partials/ficha/historia/historia', sheet) %>
<%- include('./partials/ficha/historia/descricao', sheet) %>
<%- include('./partials/ficha/historia/tracos', sheet) %>
<%- include('./partials/ficha/historia/crencas', sheet) %>
<%- include('./partials/ficha/historia/feridas', sheet) %>
<%- include('./partials/ficha/historia/pessoas', sheet) %>
<%- include('./partials/ficha/historia/fobias', sheet) %>
<%- include('./partials/ficha/historia/locais', sheet) %>
<%- include('./partials/ficha/historia/feiticos', sheet) %>
<%- include('./partials/ficha/historia/pertences', sheet) %>
<%- include('./partials/ficha/historia/encontros', sheet) %>
<%- include('./partials/ficha/historia/inventario', sheet) %>

<%- include('./partials/ficha/economia', sheet) %>

<%- include('./partials/ficha/notas', sheet) %>

</form>

<%- include('./partials/footer') %>